<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+ ' | SCM '">Profile Page</title>
  </head>
  <body>
    <div id="content" >
        <!-- sidebar -->/
         <!-- is user is logged in :sidebar  -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
      </div>

    <div  class="sm:pl-64 pt-20" style="height: 1000px;">
         <!-- Profile Image -->
         <div class="flex justify-center mt-4">
          <img 
              th:src="@{${loggedInUser.profilePic}}" 
              alt="Profile Picture" 
              class="w-28 h-28 rounded-full border-4 border-blue-500 object-cover"
          />
      </div>
      
      <!-- User Details -->
      <div class="p-6 text-center">
          <h2 class="text-xl font-bold text-gray-800 dark:text-white" th:text="${loggedInUser.name}">User Name</h2>
          <p class="text-sm text-gray-500 dark:text-white mt-1" th:text="${loggedInUser.email}">user@example.com</p>

          <!-- Status Badges -->
          <div class="flex justify-center space-x-2 mt-4">
              <span 
                  class="px-3 py-1 text-xs font-medium rounded-full"
                  th:classappend="${
                    loggedInUser.emailVarified} ? 'bg-green-100 text-green-600' : 'bg-red-100 text-red-600'"
                  th:text="'Email Verified: ' + (${loggedInUser.emailVarified} ? 'Yes' : 'No')"
              ></span>
              <span 
                  class="px-3 py-1 text-xs font-medium rounded-full"
                  th:classappend="${loggedInUser.phoneVerified} ? 'bg-green-100 text-green-600' : 'bg-red-100 text-red-600'"
                  th:text="'Phone Verified: ' + (${loggedInUser.phoneVerified} ? 'Yes' : 'No')"
              ></span>
          </div>

          <!-- Additional Info -->
          <div class="mt-6 text-center space-y-4  ">
              <div class="flex items-center space-x-3">
                  <span class="text-sm font-bold text-gray-700 dark:text-white">Phone:</span>
                  <span class="text-sm font-bold text-gray-600 dark:text-white" th:text="${loggedInUser.phoneNumber}">9876543210</span>
              </div>
              <div class="flex items-center space-x-3">
                  <span class="text-sm font-semibold text-gray-700 dark:text-white">About:</span>
                  <span class="text-sm text-gray-600 dark:text-white" th:text="${loggedInUser.about}">A brief about the user goes here.</span>
              </div>
              
          </div>
      </div>

      
      </div>
    </div>
    <script>
      console.log("This is a  profile page ");
    </script>
   
  </body>
</html>